.rightload {
    position: fixed;
    top: 0;
    bottom: 60px;
    width: inherit;
    text-align: center;
    line-height: 100vh;
    vertical-align: middle;
}

#loadout0 {
    background-color: #000000;
    color: #ffffff;
}

#loadout1 {
    background-color: #75feea;
    color: #000000;
}

#loadout2 {
    background-color: #4afe82;
    color: #000000;
}

#loadout3 {
    background-color: #feb13d;
    color: #000000;
}

#loadout4 {
    background-color: #fe3149;
    color: #000000;
}

#loadout5 {
    background-color: #8b30d5;
    color: #000000;
}