/* Visualisations Vue Template Style */

* {
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

hr {
    border-top: 1px solid #033482;
    margin: 10px 0;
}

.mathJaxDisplay {
    display:table;
    margin: 10px auto;
}

.vis-container {
    float: left;
}

/* LEFT SIDE STYLES */

.left {
    height: fit-content;
    width: 33vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #d1e4ff;
}

#section-title {
    height: 35px;
    width: inherit;
    margin:0;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-weight: bolder;
    top: 0;
    min-height: 35px;
    background: #d1e4ff;
    color: #003e74;
    border-left: #c6d1fe solid 17px;
    border-right: #c6d1fe solid 17px;
}

#progress-container {
    display: flex;
    width: 33vw;
    height: 40px;
    position: fixed;
    left: 0;
    top: 0;
    border: solid 2px #151c26;
}

meter {
    visibility: visible;
    flex-basis: 0;
    flex-grow: 1;
    border: solid 2px #151c26;
    height: 36px;
    min-width: 30px;
    transition: flex-grow 750ms;
}

meter::-webkit-meter-bar {
    background: none; /* Required to get rid of the default background property */
    background-color: #5e8cd6;
    box-shadow: 0 5px 5px -5px #333 inset;
}

meter::-webkit-meter-optimum-value {
    box-shadow: 0 5px 5px -5px #999 inset;
    background-image: linear-gradient(
            90deg,
            #033482 0%,
            #033482 66%,
            #151c26 100%
    );
    background-size: 100% 100%;
}

meter {
    /* Firefox */
    background: none; /* Required to get rid of the default background property */
    background-color: #5e8cd6;
    box-shadow: 0 5px 5px -5px #333 inset;
}

meter::-moz-meter-bar {
    box-shadow: 0 5px 5px -5px #000000 inset;
    background-image: linear-gradient(
            90deg,
            #033482 0%,
            #033482 66%,
            #151c26 100%
    );
    background-size: 100% 100%;
}

.activeMeter {
    flex-grow: 6;
}

#overlay {
    display: flex;
    width: inherit;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.overlay-button {
    height: 40px;
    flex-basis: 0;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 12pt;
    background: none;
    color: #ffffff !important;
    border: none;
    min-width: 30px;
    transition: flex-grow 750ms;
    box-shadow: none;
}

.activeButton {
    flex-grow: 5.7;
    color: #ffffff !important;
    text-shadow: 1px 1px 1px #000000;
    font-size: 14pt;
    letter-spacing: 2pt;
}

.overlay-button:hover {
    color: #ffffff !important;
    font-size: 16pt;
    text-shadow: 2px 2px 2px #000000;
    background-color: unset;
}

.section-body {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 14pt;
    text-align: justify;
}

.journey {
    /*height: 100vh; */
    width: inherit;
    padding: 0;
    position: fixed;
    top: 40px;
    bottom: 0;
    background: #ffffff;
    overflow-y:auto !important;
    overflow-x:hidden;
    text-align: justify;
    box-shadow: 5px 10px 18px #888888 inset;
}

.section-container {
    width: inherit;
    padding: 25px 45px 0 25px;
    margin-bottom: 100px;
}

.section-head {
    color: #152749;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
}

.placeholder {
    margin-bottom: 30px;
}

button.section-sub-head {
    width: 100%;
    margin: 10px 0 20px 0;
    text-align: center;
    font-size: 18pt;
    background: #d1e4ff;
    color: #033482;
}

button.section-sub-head.active, button.section-sub-head.collapsibleButton:hover {
    background-color: #3a49cc;
}

h3.section-sub-head {
    width: 100%;
    margin: 50px 0 20px 0;
    text-align: center;
    font-size: 18pt;
    background: #d1e4ff;
    color: #033482;
}

.section-sub-content {
    margin-top: 30px;
    margin-bottom: 50px;
}

.section-extra-head-container {
    display: table;
    margin: 30px auto 10px auto;
}

.section-extra-head {
    font-size: 10pt;
}

.first-sub-head {
    margin: 0 0 20px 0 !important;
}

/* RIGHT SIDE STYLES */

.right {
    width: 67vw;
    position: fixed;
    top: 40px;
    bottom: 0;
    right: 0;
    background: #ffffff;
    box-shadow: 5px 10px 18px #888888 inset;
}

.banner {
    height: 42px;
    width: 67vw;
    position: fixed;
    top: 0;
    right: 0;
    background: linear-gradient(
            90deg,
            #151c26 0%,
            #033482 15%,
            #033482 100%
    );
    color: #ffffff;
    z-index: -1;
}

#vis-title {
    height: 40px;
    margin:0;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-weight: bolder;
    top: 0;
    left: 33vw;
    right: 0;
    min-height: 40px;
    background: none;
    color: #ffffff;
    font-size: 20pt;
    letter-spacing: 2pt;
}

#lock-container {
    position: absolute;
    right: 60px;
    height: 40px;
    padding-top: 6px;
}

#vis-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 20px;
}

nav {
    height: 60px;
    width: 200px;
    position: fixed;
    top: 15px;
    bottom: 15px;
    right: 0;
}

.wait {
    font-size: 12pt;
}

.scriptSpace {
    width:0;
    height: 0;
    margin: 0;
    padding: 0;
}

/* TRANSITION STYLES */

.fade-enter-active, .fade-leave-active {
    transition: opacity 1s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.slide-enter-active {
    transition: height 1s;
}

.slide-leave-active {
    transition: height 1s;
}

.slide-enter, .slide-leave-to {
    height: 0;
}

/* IMPORTED STYLE FROM LEARNING EXPERIENCE TEAM */

.divclass {
    width: inherit;
}

.solidline {
    /* Indicates a drop down box to hide stuff */
    /*border-style: outset;*/
    /*border-color: coral;*/
    /*border-width: 3px;*/
    background: #d1e4ff;
    padding: 25px 40px;
    border-radius: 5px;
    text-align: justify;
    margin-bottom: 30px;
}
.bigdropdown {
    /* Indicates a drop down box to hide sections*/
    border-style: outset;
    border-color: blueviolet;
    border-width: 3px;
    padding: 20px;
    border-radius: 20px;
    text-align: justify;
}

.verticalline {
    width: 2px;
    background-color: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 34vw;
    opacity: 0.3;
}

/*---------------------------------------------Eliza version code--------------------------------------------------------*/


#unlock{
    position: fixed;
    left: 35vw;
    top: 0.2vh;

}


.container_vis_2{
    float: left;
  height: 100vh;
  width: 67%;
  /*background-color: #f7f7f7;*/
    background-color: #b2d3e6;
    overflow: auto;

  box-sizing: border-box;
  padding: 0px;
}

/*-------------------------------------------underline from center---------------------------------------------------------*/
.underline-from-center {
  /*display: inline-block;*/
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  color: #003E74;
  box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.6);
  height: 3px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.underline-from-center:hover:before, .underline-from-center:focus:before, .underline-from-center:active:before {
  left: 0;
  right: 0;
}
