/* Visualisations Vue Template Style */

* {
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

.vis-container {
    float: left;
}

/* LEFT SIDE STYLES */

.left {
    height: fit-content;
    width: 33vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #9971df;
}

#section-title {
    height: 35px;
    width: inherit;
    margin:0;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-weight: bolder;
    top: 0;
    min-height: 35px;
    background: #ffffff;
    color: #003e74;
    border-left: #c6d1fe solid 17px;
    border-right: #c6d1fe solid 17px;
}

#progress-container {
    display: flex;
    width: 33vw;
    position: fixed;
    left: 0;
    top: 0;
    border-left: #c6d1fe solid 17px;
    border-right: #c6d1fe solid 17px;
}

meter {
    visibility: visible;
    flex-basis: 0;
    flex-grow: 1;
    border: solid 2px #000000;
    height: 40px;
    min-width: 30px;
    transition: flex-grow 750ms;
}

.activeMeter {
    flex-grow: 6;
}

#overlay {
    display: flex;
    width: inherit;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-left: #c6d1fe solid 17px;
    border-right: #c6d1fe solid 17px;
}

.overlay-button {
    height: 40px;
    flex-basis: 0;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 12pt;
    background: none;
    border: none;
    min-width: 30px;
    transition: flex-grow 750ms;
    box-shadow: none;
}

.activeButton {
    flex-grow: 5.7;
}

.overlay-button:hover {
    color: #0000c6;
    font-size: 13pt;
    text-shadow: 1px 1px 1px #000000;
    background-color: unset;
}

.section-body {
    margin: 0;
    padding: 20px 0;
    font-size: 14pt;
    text-align: justify;
}

.journey {
    /*height: 100vh; */
    width: inherit;
    padding: 0;
    position: fixed;
    top: 40px;
    bottom: 0;
    background: #ffffff;
    overflow-y:auto;
    overflow-x:hidden;
    text-align: justify;
}

.section-container {
    width: inherit;
    padding: 0 45px 0 25px;
}

.section-head {
    background: #bcf7ff;
    margin: 0;
    padding: 10px 0;
    text-align: center;
}

.section-sub-head {
    margin: 40px 0 20px 0;
    text-align: center;
    font-size: 18pt;
    background: #8fbdde;
}

.first-sub-head {
    margin: 0 0 20px 0;
}

/* RIGHT SIDE STYLES */

.right {
    width: 67vw;
    position: fixed;
    top: 40px;
    bottom: 0;
    right: 0;
    background: #ffffff;
}

.banner {
    height: 42px;
    width: 67vw;
    position: fixed;
    top: 0;
    right: 0;
    border-bottom: solid 2px #003e74;
}



#vis-title {
    height: 40px;
    margin:0;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-weight: bolder;
    top: 0;
    left: 33vw;
    right: 200px;
    min-height: 40px;
    background: #ffffff;
    color: #003e74;
    border-left: #edc5fe solid 17px;
    border-right: #edc5fe solid 17px;
    font-size: 18pt;
}

#vis-logo {
    position: absolute;
    top: -20px;
    right: 20px;
    height: 40px;
}

nav {
    height: 60px;
    width: 200px;
    position: fixed;
    top: 15px;
    bottom: 15px;
    right: 0;
}

.wait {
    font-size: 12pt;
}

.scriptSpace {
    width:0;
    height: 0;
    margin: 0;
    padding: 0;
}

/* TRANSITION STYLES */

.fade-enter-active, .fade-leave-active {
    transition: opacity 2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

/* IMPORTED STYLE FROM LEARNING EXPERIENCE TEAM */

.divclass {
    width: inherit;


}

.solidline {
    /* Indicates a drop down box to hide stuff */
    border-style: outset;
    border-color: coral;
    border-width: 3px;
    padding: 20px;
    border-radius: 20px;
    text-align: justify;
}
.bigdropdown {
    /* Indicates a drop down box to hide sections*/
    border-style: outset;
    border-color: blueviolet;
    border-width: 3px;
    padding: 20px;
    border-radius: 20px;
    text-align: justify;
}

.verticalline {
    width: 2px;
    background-color: #000;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 34vw;
    opacity: 0.3;
}
