/* Visualisations Vue Template Style */

* {
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

.container {
    float: left;
}

/* LEFT SIDE STYLES */

.left {
    height: fit-content;
    width: 33vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #9971df;
}

#section-title {
    height: 35px;
    width: inherit;
    margin:0;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    line-height: 35px;
    font-weight: bolder;
    top: 0;
    min-height: 35px;
    background: #ffffff;
    color: #003e74;
    border-left: #c6d1fe solid 17px;
    border-right: #c6d1fe solid 17px;
}

#progress-container {
    display: flex;
    width: 33vw;
    position: fixed;
    left: 0;
    top: 0;
    border-left: #c6d1fe solid 17px;
    border-right: #c6d1fe solid 17px;
}

meter {
    visibility: visible;
    flex-basis: 0;
    flex-grow: 1;
    border: solid 2px #000000;
    height: 40px;
    min-width: 30px;
    transition: flex-grow 750ms;
}

.activeMeter {
    flex-grow: 6;
}

#overlay {
    display: flex;
    width: inherit;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    border-left: #c6d1fe solid 17px;
    border-right: #c6d1fe solid 17px;
}

button {
    height: 40px;
    flex-basis: 0;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 12pt;
    background: none;
    border: none;
    min-width: 30px;
    transition: flex-grow 750ms;
}

.activeButton {
    flex-grow: 6;
}

button:hover {
    color: #0000c6;
    font-size: 13pt;
    text-shadow: 1px 1px 1px #000000;
}

h3 {
    height: 25px;
    flex-basis: 100vw;
    margin: 0;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 12pt;
}

p {
    margin: 0;
    padding: 20px 0;
}

.journey {
    /*height: 100vh; */
    width: inherit;
    padding: 0;
    position: fixed;
    top: 40px;
    bottom: 0;
    background: #ffffff;
    overflow-y:auto;
    overflow-x:hidden;
    text-align: justify;
}

.section-container {
    width: inherit;
    padding: 0 45px 0 25px;
}

.section-head {
    background: #bcf7ff;
    margin: 0;
    padding: 0;
}

/* RIGHT SIDE STYLES */

.right {
    width: 67vw;
    position: fixed;
    top: 40px;
    bottom: 0;
    right: 0;
    background: #e1ebff;
}

.banner {
    height: 40px;
    width: 67vw;
    position: fixed;
    top: 0;
    right: 0;
}



#vis-title {
    height: 40px;
    margin:0;
    position: fixed;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-weight: bolder;
    top: 0;
    left: 33vw;
    right: 200px;
    min-height: 40px;
    background: #ffffff;
    color: #003e74;
    border-left: #edc5fe solid 17px;
    border-right: #edc5fe solid 17px;
}

#vis-logo {
    position: absolute;
    top: -20px;
    right: 20px;
    height: 40px;
}

nav {
    height: 60px;
    width: 200px;
    position: fixed;
    top: 15px;
    bottom: 15px;
    right: 0;
}

.wait {
    font-size: 12pt;
}

/* TRANSITION STYLES */

.fade-enter-active, .fade-leave-active {
    transition: opacity 2s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.fadeFast-enter-active {
    transition: opacity 1s;
}

.fadeFast-leave-active {
    transition: opacity 0s;
}

.fadeFast-enter, .fadeFast-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 1;
}